<div ng-controller="ListCtrl" class="container">
	<h2>게시판 리스트</h2>
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>게시물번호</th>
				<th>제목</th>
				<th>작성날짜</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="board in boardList">
				<td>{{ board.boardNo }}</td>
				<td><a ng-click="selectBoardDetail(board.boardNo)">{{ board.boardTitle }}</a></td>
				<td>{{ board.boardInsertDate }}</td>
			</tr>
			<tr>
				<td>
					<br>
					<a class="btn btn-default" ng-href="#/write" role="button">글쓰기</a>
				</td>
			</tr>
		</tbody>
	</table>
	<span></span>
	<br>

	<div class="row">
		<div class="text-center">
			<uib-pagination total-items="totalItems" ng-model="currentPage"
			                class="pagination-sm"    max-size="maxSize"
			                boundary-links="true"    ng-change="pageChanged()">
			</uib-pagination>
		</div>
	</div>
</div>