<div ng-controller="WriteCtrl" class="container">
	<form name="updateFrm" ng-submit="saveBoard()">
		<h1>boardWrite</h1>
		<label>제목 : 
			<input type="text" 
			name="boardTitle" 
			ng-model="boardDt.boardTitle" 
			ng-minlength="4" 
			ng-maxlength="50" 
			required 
			ng-trim="false" />
		</label>
		<br>
		<hr>
		<label>내용 : </label>
		<textarea 
			name="boardContent" 
			ng-model="boardDt.boardContent" 
			ng-minlength="4" 
			ng-maxlength="100" 
			required 
			ng-trim="false"></textarea>
		<br>
		<br>
		<span>
			<button type="submit" class="btn btn-primary">글쓰기</button>	
		</span>
	</form>
</div>